.card {
  padding: 10px;
  box-shadow: rgba(42, 44, 46, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

.input-field {
  border-radius: 10px;
  border: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 25px;
  margin: 10px;
}

.btn {
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}
