html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(38, 41, 41);
  padding: 30px;
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.card {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
}
